
/* Mobile (portrait): 300px - 575px */
*{
    font-family: lato, sans-serif;
    background-color:whitesmoke;
    color:grey;
    font-size: 16px;
    box-sizing: border-box;
  }

  header{
      display: block;
      background-color: #fff;
      top: 0px;
  }


.container {  
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;    
    position: relative;
    box-sizing: border-box;
    display: table;
    padding-top:10px;
    padding-bottom: 10px;
}
.logo{
    font-size: 24px;
    float: left;
    background: #fff;   

}

.menu{ 
    float: right;
    margin: none;
}
 ul{
    background: #fff;   
    margin: 0;
 }

li, a {
    background: #fff;   
    text-decoration: none; /* Underline*/
    list-style: none; /* bullet*/  
    padding-right: 4px;
    display: inline;
   
}

.main{
    width: 90%;
    position: absolute;
    left: 10%;
    top: 25%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    width: 85%;  
    text-align: center;
    padding-top: 10px;
}

.box{
    border-radius: 5px;
    box-shadow:0 0 0 1px rgba(0, 0, 0, .06);
    display: inline-block;
    align-content: center;
    width:85%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.featured {
    background-color: white;
}
.box, .social {
    background-color: white;
    padding-left: 10px;
}
.box, p{
    background-color: white;
    margin-left: 10px;
    text-align: left;
}
.box, h2{
    background-color: white;
    margin-left: 10px;
    text-align: left;
}

.box, h3 {
    background-color: white;
    margin-left: 10px;
    text-align: left;
}

.box, h6{
    font-size: 10px;
    background-color: white;
    text-align: center;
}


.face{
    width: 120px;
    height: 115px;
    border-radius: 500px;
    margin-top: 20px;
}

.line{
    width: 90px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    background-color: #c7c7c7;
    margin-left: 15px;
}
article{
    float: left;    
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
    box-sizing: border-box; 
}
.post{
    border-radius: 5px;
    box-shadow:0 0 0 1px rgba(0, 0, 0, .06);
    display: inline-block;
    align-content: center;
    width:85%;
    background-color: #fff;
    margin-top: 10px;
}
.content{
    border-radius: 5px;
    box-shadow:0 0 0 1px rgba(0, 0, 0, .06);
    background-color: white;   
    padding: 20px; 
}
.content p, a{    
    margin-bottom: 15px;    
    color: #aaa;
    text-align: left;
    text-decoration: none;
}

.content a{
    text-decoration: underline;
}
.post-img{
    width: 100px;
    height: 90px;
    float: left;
    padding-top: 10px;
    padding-left: 5px;
    background-color: transparent;
    padding-right: 15px;
    border-radius: 5px;
}
.post h3{
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 22px;
    color: black;
}
.post h4{
    background-color: transparent;
    margin-left: 10px;
    color: #aaa;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}
/* Mobile (landscape): 576px - 767px */ 

@media (min-width:576px){
    *{
        font-size: 18px;
    }

}

/* Tablet: 768px - 991px */

@media (min-width:768px){
    *{
        font-size: 20px;
    }
    .box {
    width:30%;
    float: left;
    display: inline;
    }
    .post{
    float: right;
    width:60%;
    display: inline;
    }
    .wrapper{
        float: left;
    }    

    article{
        float: right;
        display: inline;
    }
}